a, button
  cursor pointer


body
  cursor default
  font-family 'Helvetica Neue', Arial, sans-serif


li
  &.done
    > a
      color red

    > span
      text-decoration line-through

  > a
    color green
